<div class="breadcumbs">
    <a routerLink="/home">
        <mat-icon style="vertical-align: -5px !important;">dashboard</mat-icon>
        <span>Dashboard</span>
    </a>
    <span> > </span>
    <span class="active"> Usuários </span>
</div>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Usuários</mat-card-title>
        <mat-card-subtitle>Lista de Usuários</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | async; index as i">
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" (click)="delete(user.key)">
                            <i class="fa fa-trash"></i> Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>

    <mat-card-content>
        <div class="flex">
            <button mat-fab color="primary" matTooltip="Adiciona Novo Usuário">
                <mat-icon>add</mat-icon>
            </button>
            <span class="fill-space"></span>
            <app-bottom-sheet></app-bottom-sheet>
        </div>
        <my-table></my-table>
    </mat-card-content>
</mat-card>
