<div class="breadcumbs">
    <a routerLink="/home">
        <mat-icon style="vertical-align: -5px !important;">dashboard</mat-icon>
        <span>Dashboard</span>
    </a>
    <span> > </span>
    <a routerLink="/report">
        <mat-icon style="vertical-align: -5px !important;">assignment</mat-icon>
        <span>Relatórios</span>
    </a>
    <span> > </span>
    <span class="active"> Formulário do Relatório </span>
</div>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Relatórios</mat-card-title>
        <mat-card-subtitle>Formulário do Relatório</mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content class="container">
            <fieldset>
                <legend>Dados Principais</legend>
                <mat-form-field>
                    <mat-icon matPrefix>accessibility</mat-icon>
                    <input formControlName="responsible" matInput placeholder="Responsável">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>build</mat-icon>
                    <input formControlName="equipment" matInput placeholder="Equipamento">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>sentiment_satisfied_alt</mat-icon>
                    <input formControlName="owner" matInput placeholder="Proprietário">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>home</mat-icon>
                    <input formControlName="hometype" matInput placeholder="Tipo de Casa">
                </mat-form-field>
            </fieldset>
            <fieldset>
                <legend>Endereço</legend>
                <mat-form-field>
                    <mat-icon matPrefix>place</mat-icon>
                    <input formControlName="cep" matInput placeholder="CEP">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>filter_9_plus</mat-icon>
                    <input formControlName="number" matInput placeholder="Número">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>location_city</mat-icon>
                    <input formControlName="neighborhood" matInput placeholder="Bairro">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>streetview</mat-icon>
                    <input formControlName="street" matInput placeholder="Rua">
                </mat-form-field>
            </fieldset>
            <fieldset>
                <legend>Contato</legend>
                <mat-form-field>
                    <mat-icon matPrefix>email</mat-icon>
                    <input formControlName="email" matInput placeholder="Email">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>phone</mat-icon>
                    <input formControlName="phone" matInput placeholder="Telefone">
                </mat-form-field>
            </fieldset>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Salvar</button>
            <button mat-raised-button routerLink="/report">Cancelar</button>
        </mat-card-actions>
    </form>
</mat-card>
