node_modules
.next
out
dist
build
public
*.log
.env*
.codacy
.specify
.windsurf
specs
.jscpd.json
.prettierrc
tailwind.config.ts
tsconfig.json
postcss.config.js
next-env.d.ts
next.config.js
package.json
package-lock.json
eslint.config.js