.lock-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.lock-page .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lock-page:after {
    content: '';
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    right: 0;
}

.lock-page:before {
    content: '';
    background: #3f51b5;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
}

.mat-card-header {
    justify-content: center;
}

.mat-card-actions button {
    width: 100%;
}

.card {
    flex: 1 1 auto;
    margin: 20px;
}

.container > * {
    width: 100%;
}
