<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>

    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div fxFlex>
            <app-stat [route]="'/users'" [bgClass]="'danger'" [icon]="'group'" [count]="13" [label]="'Usuários!'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [route]="'/report'" [bgClass]="'warn'" [icon]="'assignment'" [count]="12" [label]="'Relatórios!'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [route]="'/perfil'" [bgClass]="'success'" [icon]="'person'" [count]="1" [label]="'Logado!'"></app-stat>
        </div>
    </div>


    <!-- <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list> -->
</div>
