<div>
    <div class="page-wrapper">
        <!-- <breadcrumb></breadcrumb> -->
        <div class="container-fluid">
            <router-outlet></router-outlet>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <footer class="footer">
        © 2018 - HBC - APP CHECKLIST - V.1.0
    </footer>
</div>
