<mat-sidenav-container class="sidenav-container" *ngIf="authservice.authenticated()">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">{{logo}}</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/home" routerLinkActive="mat-elevation-z8">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a mat-list-item routerLink="/report" routerLinkActive="mat-elevation-z8">
                <mat-icon>assignment</mat-icon>
                <span>Relatório</span>
            </a>
            <a mat-list-item routerLink="/users" routerLinkActive="mat-elevation-z8">
                <mat-icon>group</mat-icon>
                <span>Usuários</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{projectname}}</span>
            <span class="fill-space"></span>
            <!-- <a routerLink="/lock" matTooltip="Bloquear sessão" type="button" mat-icon-button>
                <mat-icon>block</mat-icon>
            </a> -->
            <button matTooltip="Tela cheia - FullScreen" *ngIf="!fullScreenActive" type="button" mat-icon-button (click)="entrarFullScreen()">
                <mat-icon>fullscreen</mat-icon>
            </button>
            <button matTooltip="Tela normal" *ngIf="fullScreenActive" type="button" mat-icon-button (click)="sairFullScreen()">
                <mat-icon>fullscreen_exit</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="menu">Usuário
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu dir="rtl" #menu="matMenu">
                <a matTooltip="Página de perfil" mat-menu-item routerLink="/perfil">
                    <mat-icon>person_outline</mat-icon>
                    Perfil
                </a>
                <mat-divider></mat-divider>
                <a matTooltip="Sair" mat-menu-item (click)="logout()">
                    <mat-icon>power_settings_new</mat-icon>
                    Sair
                </a>
            </mat-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="!authservice.authenticated()">
    <app-login></app-login>
</div>
