<div class="breadcumbs">
    <a routerLink="/home">
        <mat-icon style="vertical-align: -5px !important;">dashboard</mat-icon>
        <span>Dashboard</span>
    </a>
    <span> > </span>
    <a routerLink="/report">
        <mat-icon style="vertical-align: -5px !important;">assignment</mat-icon>
        <span>Relatórios</span>
    </a>
    <span> > </span>
    <span class="active">Relatório </span>
</div>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Relatórios</mat-card-title>
        <mat-card-subtitle>Visualização do relatório</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Relatório</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        Responsável e Cliente
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                    <strong> Responsável: </strong>
                    <span> {{ report?.responsible }} </span>
                </p>
                <p>
                    <strong> Proprietário: </strong>
                    <span> {{ report?.owner }} </span>
                </p>
                <p>
                    <strong> Tipo de Casa: </strong>
                    <span> {{ report?.hometype }} </span>
                </p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Endereço</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        Endereço do proprietário
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                    <strong> CEP: </strong>
                    <span>{{ report?.cep }} </span>
                </p>
                <p>
                    <strong> Rua: </strong>
                    <span>{{ report?.street }} </span>
                </p>
                <p>
                    <strong> Nº: </strong>
                    <span>{{ report?.number }} </span>
                </p>
                <p>
                    <strong> Bairro: </strong>
                    <span>{{ report?.neighborhood }} </span>
                </p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Contato</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        Contato do proprietário
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                    <strong> Email: </strong>
                    <span>{{ report?.email }} </span>
                </p>
                <p>
                    <strong> Telefone: </strong>
                    <span>{{ report?.phone }} </span>
                </p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Etapa 2</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        Equipamento usado no relatório
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                    <strong> Equipamento: </strong>
                    <span>{{report?.equipment}}</span>
                </p>
                <div *ngFor="let etapa2 of report?.etapa2 | keys">
                    <div *ngFor="let equipamento of etapa2?.value | keys">
                        <p *ngIf="equipamento.key == 'title'">
                            <strong> Titulo: </strong>
                            <span>{{equipamento.value}}</span>
                        </p>
                        <p *ngIf="equipamento.key == 'name'">
                            <strong> Nome: </strong>
                            <span>{{equipamento.value}}</span>
                        </p>
                        <p *ngIf="equipamento.key == 'adress'">
                            <strong> Endereço: </strong>
                            <span>{{equipamento.value}}</span>
                        </p>
                        <p *ngIf="equipamento.key == 'obs'">
                            <strong> Observações: </strong>
                            <span>{{equipamento.value}}</span>
                        </p>
                    </div>
                    <p>
                        <strong> Imagens </strong>
                    </p>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex *ngFor="let img of etapa2?.value | imgs">
                            <mat-card class="imgequip">
                                <img mat-card-image [src]="img.nameimg">
                                <mat-card-content>
                                    <p>
                                        {{img.obs}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

    </mat-card-content>
</mat-card>
